@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fbfdfc;
    /* md-sys-color-surface for teal tones */
    color: #191c1b;
    /* md-sys-color-on-surface */
  }
}

@layer utilities {
  .md-elevation-1 {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .md-elevation-2 {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  }

  .md-elevation-3 {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  }
}